*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #23005a; 
}


p, li, a, h3, input{
    font-family: 'Gabarito', sans-serif;
}
h1, h2{
    font-family: 'Gabarito', sans-serif;
}

/*button for hero*/
.btn-mn {
    background-color: lightcoral;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: white;
    width: 100px;
    animation: bn53bounce 4s infinite;
    cursor: pointer;
  }
  
  @keyframes bn53bounce {
    5%,
    50% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1) rotate(-5deg);
    }
  
    25% {
      transform: scale(1) rotate(5deg);
    }
  
    30% {
      transform: scale(1) rotate(-3deg);
    }
  
    35% {
      transform: scale(1) rotate(2deg);
    }
  
    40% {
      transform: scale(1) rotate(0);
    }
  }


/*regular button*/
.button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: lightcoral;
    border-radius: 10px;
    width: fit-content;
}


.hero-rs{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(to right, #5d9add, #9294f2);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero-cntxt-rs{
    margin-top: 50px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-cntxt-rs > h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.hero-cntxt-rs > p{
    font-size: 20px;
    margin-bottom: 20px;
}


.resource-main{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;

    height: 100vh;
}

.search-bar{
    width: 50%;
    display: flex;
    justify-content: center;

    position: relative;
}
.search-bar > input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}
.srch-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 20px;
    color: darkgray;

    display: flex;
    align-items: center;
}



.result-main-container{
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.result-filter{
    width: 25%;
    font-family: 'Gabarito', sans-serif;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.result-filter .filter-choice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-choice.mobile{
    display: none;
}
.filter-choice h3{
    font-size: 30px;
}
.filter-choice #fltr-chc-open,
.filter-choice #fltr-chc-close{
    display: none;
}
.filter-opt{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-opt.mobile{
    display: none;
}
.filter-opt:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}
.filter-opt-visual{
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.result-wrapper{
    border-radius: 15px;
    height: 260px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    overflow: hidden;

    display: flex;
}
.result-img{
    width: 30%;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-img > img{
    height: 100%;
    width: 100%;
}
.result-info{
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}
.result-info > a{
    margin-top: 15px;
    align-self: flex-end;
    color: white;
}
.result-info > h3{
    font-size: 25px;
}
.result-info .result-type{
    margin-bottom: 10px;
    font-size: 14px;
}



/*Responsiveness*/

@media screen and (min-width: 1020px) and (max-width: 1500px) {
    .left-nav{
        width: 80%;
    }
    .right-nav{
        width: 20%;
    }


    .hero-cntxt-rs > h1{
        font-size: 30px;
    }
    .hero-cntxt-rs > p{
        font-size: 18px;
        margin-bottom: 18px;
    }


   
    .search-bar{
        width: 80%;
    }
    .search-bar > input{
        font-size: 14px;
    }

    
    .result-main-container{
        width: 90%;
    }

    .filter-choice > h3{
        font-size: 25px;
    }
    .filter-opt{
        font-size: 16px;
    }
    
}
@media screen and (min-width: 721px) and (max-width: 1019px) {

    .left-nav ul{
        display: none;
    }
    .right-nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }


    .hero-cntxt{
        width: 80%;
    }
    .hero-cntxt > h1{
        font-size: 35px;
    }
    .hero-cntxt > p{
        font-size: 18px;
    }
    
    .search-bar{
        width: 90%;
    }
    .search-bar > input{
        padding: 8px;
        font-size: 14px;
    }

    
    
    .result-main-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .result-filter{
        width: 80%;
        flex-direction: column;
        gap: 10px;
    }
    .result-filter .filter-choice{
        display: none;
    }
    .filter-choice.mobile{
        display: flex;
    }
    .filter-choice h3{
        font-size: 25px;
    }
    .filter-choice #fltr-chc-open{
        display: flex;
        font-size: 25px;
    }
    #fltr-chc-close{
        font-size: 25px;
    }
    
    

    /*edit*/
    .filter-opt{
        margin: auto;
        width: 90%;
        display: none;
    }
    
    .result-container{
        width: 80%;
    }
    .result-info > a{
       font-size: 14px;
    }
    .result-info > h3{
        font-size: 20px;
    }
    .result-info > p{
        font-size: 14px;
    }
    .result-info .result-type{
        font-size: 12x;
    }
}
@media screen and (max-width: 720px) {

    .left-nav ul{
        display: none;
    }
    .left-nav h1{
        font-size: 16px;
    }
    .right-nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
        gap: 10px;
    }

    .mb-nav-main{
        width: 60%;
    }


    .hero-cntxt-rs{
        width: 100%;
    }
    .hero-cntxt-rs > h1{
        font-size: 20px;
    }
    .hero-cntxt-rs > p{
        font-size: 16px;
    }


    .resource-main{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .search-bar{
        width: 95%;
        padding: 0px;
        gap: 10px;
    }
    .search-bar > input{
        padding: 10px;
        font-size: 20px;
    
    }

    
    
    .result-main-container{
        width: 95%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .result-filter{
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .result-filter .filter-choice{
        display: none;
    }
    .filter-choice.mobile{
        display: flex;
    }
    .filter-choice h3{
        font-size: 20px;
    }
    .filter-choice #fltr-chc-open{
        display: flex;
        font-size: 25px;
    }
    #fltr-chc-close{
        font-size: 25px;
    }
    

    .filter-opt{
        margin: auto;
        width: 90%;
        display: none;
    }
    

    .result-container{
        width: 100%;
    }
    .result-img{
        display: none;
    }
    .result-info{
        width: 100%;
    }
    .result-info > a{
        margin-top: 10px;
        font-size: 12px;
    }
    .result-info > h3{
        font-size: 20px;
    }
    .result-info > .result-text{
        margin-bottom: 10px;
        text-align: left;
    }
    .result-info .result-type{
        margin-bottom: 10px;
        font-size: 14px;
        text-align: left;
    }
}

